{% extends "base.html" %}
{% load static %}

{% block pageHeader %}
{% endblock pageHeader%}

{% block content %}
<div class="container h-100">
    <div class="row h-100">
        <div class="col col-md-6 my-auto">
            <h1 class="display-4 logo-font text-black">
                CCL
            </h1>
        </div>
    </div>
</div>
<div class="container my-4">
    <div class="row">
        <div class="col col-12">
            <div class="card">
                <div class="card-body pl-5">
                    <h2>Discover the businesses I've worked for</h2>
                    <div class="card-deck">
                        <div class="card">
                            <img class="card-img-top" src="..." alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            </div>
                        </div>
                    </div>

{% endblock %}