{% extends "base.html" %}
{% load static %}

{% block pageHeader %}
{% endblock pageHeader%}

{% block content %}

<div class="container my-2">
    <div class="row">
        <div class="col col-12">
            <div class="card">
                <div class="card-body">
                    <h2>Discover the businesses I've worked for</h2>
                    {% for customer in customers %}
                    <section class="p-4 p-md-5 text-center text-lg-start shadow-1-strong rounded">
                        <div class="row d-flex justify-content-center">
                          <div class="col-md-10">
                            <div class="card">
                              <div class="card-body m-3">
                                <div class="row">
                                  <div class="col-lg-4 d-flex justify-content-center align-items-center mb-4 mb-lg-0">
                                    <img src="{{customer.image.url}}" class="img-fluid" alt="customer image"
                                      class="rounded-circle img-fluid shadow-1" width="200" height="200"/>
                                  </div>
                                  <div class="col-lg-8">
                                    <p class="text-muted fw-light mb-4">
                                      {{customer.text}}
                                    </p>
                                    <p class="fw-bold lead mb-2"><strong>{{customer.name}}</strong></p>
                                    <a href="https://www.instagram.com/{{customer.socialMedia}}"><p class="fw-bold mb-0">@{{customer.socialMedia}}</p></a>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                    </section>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}